{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    Account number {{ account.id }}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-3 offset-md-1"><h5>Account number {{ account.id }}</h5></div>
            <div class="col-md-3 offset-md-1"><h5>Balance {{ account.balance }}</h5></div>
            <div class="col-md-3 offset-md-1"><h5>Commission type {{ account.typeCommission*100 }}%</h5></div>
        </div>

        <div class="row">
            <table class="table">
                <caption>Transactions</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>

                {% for transaction in transactions %}
                    <tr>
                        <th scope="row">{{ transaction.id }}</th>
                        <td>{{ transaction.dueDate|date('m/d/Y') }}</td>
                        <td>{{ transaction.amount }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="row">
            <a href="{{ path('transaction-create', {'id': account.id}) }}" class="btn">Add transaction</a>
        </div>

        <a class="btn btn-default"
           href="{{ path('account-disable', {'id': account.id}) }}"
           role="button">Request to disable this account</a>

    </div>
{% endblock %}

