{% extends "AppBundle::layout.html.twig" %}

{% block title %}Accounts{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1>List of accounts</h1></div>
        </div>


        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>

                {% for account in accounts %}
                    <tr>
                        <th scope="row">
                            {% if account.status == 'enabled' %}
                                <a href="{{ path('account-display', {'id': account.id}) }}">{{ account.id }}</a>
                            {% else %}
                                {{ account.id }}
                            {% endif %}
                        </th>
                        <td>{{ account.status }}</td>
                    </tr>
                {% else %}
                <tr>
                    <th scope="row">You don't have any accounts yet.</th>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <a class="btn btn-default"
           href="{{ path('create-account') }}"
           role="button">Request to create an account</a>

    </div>
{% endblock %}