{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Accounts pending approval list{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Accounts requests</h1>
                <h3>(new account and disable account)</h3>
            </div>
        </div>


        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Enable</th>
                    <th>Disable</th>
                </tr>
                </thead>
                <tbody>

                {% for account in accounts %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('get-account-pending-list', {'id': account.id}) }}">{{ account.id }}</a>
                        </th>
                        <td>{{ account.status }}</td>
                        <th>
                            <a class="btn btn-default"
                               href="{{ path('account-enable', {'id': account.id}) }}"
                               role="button">Enable</a>
                        </th>
                        <th>
                            <a class="btn btn-default"
                               href="{{ path('account-disable', {'id': account.id}) }}"
                               role="button">Disable</a>
                        </th>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}



